<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>都道府県マップ</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
</head>

<body>
    <div id="app">
        <div class="user-info" v-if="isLoggedIn">
            <span>ようこそ、{{ userName }}さん！</span>
            <button @click="saveRemoteData">更新</button>
            <button @click="logout">ログアウト</button>
            <button @click="deleteMyData">アカウントを削除</button>
        </div>

        <h1>日本地図</h1>
        <p>訪れたことのある都道府県をクリックしてください。更新ボタンで情報が更新されます</p>

        <div v-if="isLoggedIn">
            <label for="user-selector">地図を見るユーザーを選択：</label>
            <select id="user-selector" v-model="selectedUser" @change="fetchUserData">
                <option :value="currentUser.uid">{{ currentUser.displayName }} (自分)</option>
                <option v-for="(user, index) in otherUsers" :key="user.uid" :value="user.uid">
                    他のユーザー {{ index + 1 }}
                </option>
            </select>
        </div>
        <div v-html="svgMap" @click="togglePrefecture"></div>
    </div>
    <script src="index.js"></script>
</body>

</html>